<div class="row" id="information">
    Những điều bạn cần lưu ý trước khi gửi tiết kiệm tại ngân hàng

Từ trước tới nay, việc gửi tiền tiết kiệm vào các ngân hàng luôn được mọi người tin tưởng và coi là hình thức tích lũy an toàn. Đặc biệt, với sự phát triển của công nghệ thông tin như hiện nay, việc tiếp cận với các ngân hàng ngàng càng dễ dàng hơn. Tuy nhiên, càng có nhiều lựa chọn gửi tiết kiệm, đồng nghĩa với việc đưa ra quyết định càng khó khăn. Hãy tìm hiểu kỹ dựa trên những yếu tố dưới đây nhé.

</div>
<div class="row">
    <div class="col-md-6">
        Gửi tiền tiết kiệm là gì?
Gửi tiết kiệm là một hình thức vừa tích lũy, vừa đầu tư. Bạn gửi tiền vào ngân hàng trong một khoảng thời gian nhất định, hết thời hạn này, ngân hàng sẽ trả lại cho bạn khoản tiền gốc và khoản tiền tăng thêm (tiền lãi).
Tiền lãi được tính dựa trên lãi suất của ngân hàng theo kỳ hạn gửi tiền tương ứng mà bạn chọn. 

Cách tính lãi suất tiết kiệm
Lãi suất tiết kiệm ngân hàng thường được hiểu là lãi suất %/năm. Công thức tính:

Số tiền lãi = Số tiền gửi x Lãi suất (%/năm) x Số ngày thực gửi / 365

Ví dụ bạn gửi số tiền 20 triệu với lãi suất 7.4%/năm cho kỳ hạn 6 tháng từ ngày 1/1/2020 đến 1/7/2020, số tiền lãi nhận được là:

Số tiền lãi = 20.000.000 x 7.4% x 181 / 365 = 733.917


Ngày đáo hạn và tất toán sổ tiết kiệm là gì?
Ngày đáo hạn
Ngày đáo hạn (hay ngày đến hạn) được quy định dựa trên ngày mà bạn mở tài khoản tiết kiệm. Ví dụ nếu bạn chọn gửi tiền vào ngân hàng trong 1 năm, ngày cuối cùng của năm sẽ là ngày đáo hạn. 
Vào ngày này, bạn có thể thực hiện tất toán (hoặc đóng tài khoản tiết kiệm) để nhận lại toàn bộ cả tiền gốc và lãi được sinh ra.

Tất toán sổ tiết kiệm
Chuyện gì sẽ xảy ra khi khoản tiền gửi tại ngân hàng hết hạn?
Thông thường, ngân hàng sẽ liên hệ và đưa cho bạn hai lựa chọn:
Tự động tái tục cả gốc và lãi: Toàn bộ số tiền gốc và lãi tiết kiệm sẽ tiếp tục được gửi cho ngân hàng. Lãi suất áp dụng là lãi suất niêm yết của ngân hàng tại thời điểm tái tục.
Tất toán: Tiền gốc và tiền lãi tiết kiệm phát sinh sẽ được gửi về tài khoản ngân hàng của bạn. Nếu muốn tiếp tục gửi tiết kiệm, bạn sẽ phải lựa chọn lại từ đầu (gói tiết kiệm nào, thời hạn bao lâu,...) 


Các hình thức gửi tiết kiệm thường được lựa chọn
Có hai hình thức gửi tiết kiệm ngân hàng hiện nay:
Gửi tiết kiệm không kỳ hạn: Đây là hình thức gửi tiết kiệm không cam kết về thời gian rút. Tức là khi gửi tiền vào, bạn có thể rút ra lúc nào cũng được, nhưng nhược điểm của hình thức này là lãi suất thấp. 
Gửi tiết kiệm có kỳ hạn: Đây là hình thức gửi tiết kiệm có cam kết thời gian rút về với mức lãi suất cố định. 

Thời hạn gửi tiết kiệm hiện nay thường được chia ra: 
Ngắn hạn (1-3 tháng)
Trung hạn (4-12 tháng) 
Dài hạn (từ 1 năm trở lên)

Thời hạn càng dài thì lãi suất càng cao. Nhưng điều đó cũng đồng nghĩa rằng, nếu có chuyện cần phải sử dụng tiền, bạn sẽ mất lãi nếu rút ra giữa chừng, hoặc chỉ được hưởng lãi suất không kỳ hạn - thường là rất thấp, chỉ khoảng 0.2% đến 3%. 
(Kỳ hạn quá dài thì lãi suất sẽ linh động giảm dần để hạn chế rủi ro cho ngân hàng)


    </div>
    <div class="col-md-6">
        Khi gửi tiết kiệm tại ngân hàng, bạn cần cân nhắc điều gì?
3.1. Lãi suất gửi tiết kiệm của ngân hàng
Khi gửi tiền tiết kiệm, lãi suất ngân hàng nào cao nhất luôn là yếu tố đầu tiên mà khách hàng quan tâm. Thông thường theo thói quen, khách hàng thường tìm đến những ngân hàng lớn như Vietcombank, Vietinbank, BIDV,... 
Tuy nhiên nếu bạn cũng làm vậy, có lẽ bạn đã bỏ qua rất nhiều lựa chọn hấp dẫn khác - các ngân hàng cổ phần, các ngân hàng nhỏ. Bởi để cạnh tranh khách hàng với những ngân hàng lớn, các ngân hàng này thường đưa ra các gói tiết kiệm với lãi suất cao để thu hút khách. 

3.2. Kỳ hạn gửi tiết kiệm
Như đã nhắc đến ở bên trên, kỳ hạn tiết kiệm là cơ sở để ngân hàng trả lãi. Kỳ hạn tiết kiệm càng dài thì lãi suất càng cao. Tuy nhiên, bạn nên cân nhắc kế hoạch chi tiêu của mình và gia đình trong tương lai, hạn chế tối đa trường hợp đang gửi tiết kiệm thì phải rút tiền gấp và mất toàn bộ lãi. 

Bạn có thể tham khảo lãi suất của một số ngân hàng dưới đây:
Lãi suất gửi tiết kiệm tại ngân hàng Vietcombank
Lãi suất gửi tiết kiệm tại ngân hàng Vietinbank
Lãi suất gửi tiết kiệm tại ngân hàng Techcombank
Lãi suất gửi tiết kiệm tại ngân hàng Agribank
Lãi suất gửi tiết kiệm tại ngân hàng SHB
Lãi suất gửi tiết kiệm tại ngân hàng TPbank
Lãi suất gửi tiết kiệm tại ngân hàng VPbank
Lãi suất gửi tiết kiệm tại ngân hàng BIDV
Lãi suất gửi tiết kiệm tại ngân hàng PGbank
Lãi suất gửi tiết kiệm tại ngân hàng Đông Á Bank
Lãi suất gửi tiết kiệm tại ngân hàng Sacombank
Lãi suất gửi tiết kiệm tại ngân hàng MB bank
Sức mạnh của lãi kép
Bạn có thể hiểu về lãi kép (hay lãi suất kép) như sau: 
Khi bạn gửi tiết kiệm và có tiền lãi phát sinh, tiền lãi này sẽ được dồn vào tiền vốn ban đầu, tiếp tục mang tất cả (tổng tiền cả gốc và lãi) đi tái tiết kiệm (hay tái đầu tư) để lấy về lãi có giá trị cao hơn ở chu kỳ sau. Bạn gửi tiền càng lâu thì sức mạnh của lãi kép càng lớn.

Xu hướng gửi tiết kiệm hiện nay: Ứng dụng công nghệ tài chính
Chỉ vài năm trước đây thôi, nếu muốn gửi tiết kiệm, bạn sẽ phải đích thân ra ngoài ngân hàng, xếp hàng tại các quầy tiết kiệm để được tư vấn và mở sổ tiết kiệm, thì giờ đây mọi chuyện đã khác. 

7.1. Sử dụng ứng dụng mobile banking
Hầu hết các ngân hàng hiện nay đều đã có ứng dụng di động của riêng mình. Ví dụ như app TPbank, app VPbank, app MBbank,... Chỉ cần thực hiện vài thao tác trên các ứng dụng này thì đã có thể mở tài khoản tiết kiệm và gửi tiền nhanh chóng mà không cần phải bước ra khỏi nhà. Việc tái tiết kiệm, rút tiền hay nhận lãi cũng có thể làm luôn trên đây.

7.2. Tận dụng ưu thế của công nghệ tài chính (Fintech)
Trong vài năm trở lại đây, sự xuất hiện của các ứng dụng công nghệ tài chính đã mang lại nhiều lựa chọn và cơ hội cho khách hàng cá nhân. Và Finhay có thể được coi là một trong những doanh nghiệp nổi bật trong lĩnh vực này.
Cụ thể, khi đăng ký tài khoản Finhay, bạn đã có thể:
Đầu tư: Tiếp cận tới các quỹ tài chính ở Việt Nam với số vốn chỉ vỏn vẹn 50.000đ. Finhay là cầu nối trung gian giữa bạn và các quỹ mở (Mutual Fund) tại Việt Nam. Ví dụ như:
Quỹ BVBF – Được quản lý bởi công ty TNHH Quản lý Quỹ Bảo Việt (100% vốn của Tập đoàn Bảo Việt)
Quỹ BVPF –  Được quản lý bởi công ty TNHH Quản lý Quỹ Bảo Việt (100% vốn của Tập đoàn Bảo Việt)
Quỹ TCBF –  Được quản lý bởi công ty công ty TNHH Quản lý quỹ Kỹ thương – TechcomCapital -Techcom Capital (TCC)
Quỹ TCFF – Được quản lý bởi công ty TNHH Quản lý quỹ Kỹ thương – TechcomCapital -Techcom Capital (TCC)
Thay vì phải trực tiếp bỏ số vốn lớn và tự mình đầu tư, các quỹ tài chính kết nối với Finhay sẽ giúp bạn làm điều đó (hay còn gọi là đầu tư uỷ thác). 
Tìm hiểu thêm về Đầu tư tại Finhay.

Tiết kiệm: Tiết kiệm ở Finhay có gì giống và khác với gửi tiết kiệm thông thường? Giống ở chỗ: Bạn đều gửi tiền vào các ngân hàng (cụ thể là các ngân hàng liên kết với Finhay như Ngân hàng Bản Việt, Ngân hàng Eximbank,...) - an toàn và yên tâm. Khác biệt ở chỗ: Bạn nhận lãi suất cao (lên tới 7.4%/năm) nhưng có thể rút tiền bất kỳ lúc nào. Tức là dù gửi tiền dài hạn hay ngắn hạn, bạn đều nhận được mức lãi suất lên tới 7.4%/năm và có thể rút tiền bất kỳ lúc nào mà không bị mất lãi. 
Tìm hiểu thêm về Tiết kiệm tại Finhay. 

Trải nghiệm Finhay miễn phí tại: https://finhay.page.link/AppFINHAY
    </div>
</div>
<div class="row">
    Hãy cân nhắc thật kỹ về lãi suất, ngân hàng, hình thức tiết kiệm cũng như quyền lợi được hưởng của mỗi cách tiết kiệm nhé
</div>